/* Taille police ajustée */
p{
    font-size: 17px;
}

/* Contraste des textes augmenté */
.btn-atomic-tangerine{
    color: #424242!important;
}

/* "Citation bas de page pour projet" */
#bloc-3-what-i-do h2 {
    background-color: rgb(27, 27, 27);
    opacity: 0.7;
}

/* Opacité texture papier diminuée */

#bloc-5-cta h2 {
    background-color: black;
    opacity: 0.7;
    border-radius: 5%;
}

/* Centrer images portfolio version mobile */

@media (max-width: 767px){
    .portfolio-thumb{
        margin: auto;
        width: 400px;
        height: 400px;
    }
}

/* Contraste texte footer */
#bloc-8 p{
    color: #424242!important;
}

#bloc-8 .fa{
    color: #424242!important;
}

#bloc-8 .col-sm-4{
    color: #424242!important;
    font-size: 17px;
}

#bloc-8 .col-sm-4 ul{
    list-style: none;
}

#bloc-8 ul a{
    color: #424242!important;
}


/* Page Contact */
#bloc-7{
    text-align: center;
}
/* Contraste couleurs */

#bloc-6 h1{
    color: #1b1a1a!important;
}

#bloc-6 p{
    color: #020202!important;
    font-size: bold;
}

/* Position adresse */
.loc{
    text-align: center;
}

/* Rendre les éléments interactifs visibles au passage de la souris */
.icon-md:focus, .icon-md:hover{
    transform: scale(1.5);
    transition: 0.2s;
}
button:focus, button:hover{
    border: 3px solid black;
}

/* Augmentation espace autour des liens du footer en version mobile */

@media (max-width: 767px){
    footer li{
        margin: 15px 0!important;
    }
}